* {
  box-sizing: border-box;
  outline: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
button,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: 100%;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

a {
  cursor: pointer;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

a {
  text-decoration: none;
}

input:not([type="checkbox"]):not([type="radio"]),
textarea {
  appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

input[type="number"] {
  appearance: textfield;
}

input::-ms-clear {
  display: none;
}

select::-ms-expand {
  display: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

input::placeholder {
  opacity: 1;
}

h1.main {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(33, 34, 64, 0.16);
}

.wrapper.border,
.wrapper-half.border {
  border-bottom: 1px solid rgba(33, 34, 64, 0.16);
}

h2,
.products-list li.products-list-title {
  color: #a6a7b3;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  line-height: 16px;
}

h2,
.product-code {
  font-size: 12px;
  line-height: 16px;
}

.product-quantity,
.summary input,
.summary ul li,
.summary-total-cost {
  font-size: 14px;
  line-height: 17px;
}

.product h1 {
  font-size: 16px;
  line-height: 24px;
}

.products button.count,
.summary-total-price {
  font-size: 20px;
  line-height: 25px;
}

h2 {
  color: #717285;
  letter-spacing: 0;
  font-weight: 300;
}

h2 + * {
  margin-top: 16px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("/public/img/background.png");
  background-color: #212240;
  background-position: top left;
  background-size: cover;
  font-family: Avenir, "Avenir Next", "Segoe UI", sans-serif;
  font-weight: regular;
}

.App {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 1088px;
  max-height: 648px;
  width: calc(100% - 64px);
  height: calc(100% - 64px);
  border-radius: 4px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

h1 {
  position: relative;
  letter-spacing: -0.18px;
  font-size: 18px;
  line-height: 24px;
}

.wrapper {
  padding: 32px 0;
}

.wrapper-half {
  padding: 24px 0;
}

.tableHead {
  padding: 32px 0;
}

.row {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.row + .row {
  margin-top: 32px;
}

[class*="col-"] {
  display: flex;
  align-items: center;
}

[class*="col-"]:nth-child(n + 2) {
  justify-content: center;
}

.col-product {
  width: 45%;
  cursor: pointer;
}

.col-quantity {
  width: 20%;
}

.col-price {
  width: 20%;
}

.col-total {
  width: 15%;
}

input {
  width: 100%;
  height: 48px;
  border-radius: 4px;
}

.currency {
  margin-left: 4px;
}

.products {
  padding: 40px 32px 40px 56px;
}

.products button.count {
  padding: 0 8px;
  height: 40px;
  border: none;
  background: transparent;
  color: #7350ff;
  font-weight: bold;
  cursor: pointer;
}

.products {
  flex: 1;
}

.products-list {
  position: relative;
  width: 100%;
}

.product-image {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
}

.product-image img {
  margin-right: 16px;
  width: 72px;
  height: 72px;
  border: 1px solid #cacad1;
  border-radius: 4px;
  object-fit: cover;
}

.product-code {
  border-radius: 4px;
  color: #a6a7b3;
  letter-spacing: 0.13px;
  font-weight: 400;
}

.product-quantity {
  width: 40px;
  height: 40px;
  border: 2px solid #dbdbe0;
  border-radius: 4px;
  text-align: center;
}

.product-price {
  color: #000000;
  font-size: 16px;
}

.product .clear {
  border: none;
  background: transparent;
}

.product .clear span {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
}

.product .clear span:before,
.product .clear span:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 2px;
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 8px;
  background-color: #a6a7b3;
  transform: rotate(-45deg);
  transform-origin: center center;
}

.product .clear span:before {
  transform: rotate(45deg);
}

.product h1 {
  color: #7350ff;
}

.summary {
  display: flex;
  flex-flow: column wrap;
  padding: 40px 32px;
  width: 312px;
  background-color: #f3f3f3;
  color: #212240;
}

.summary > * {
  width: 100%;
}

.summary-items-price {
  font-size: 16px;
  font-weight: bold;
}

.summary input {
  margin: 8px auto;
  color: #a6a7b3;
  text-indent: 16px;
  text-transform: uppercase;
}

.summary input::placeholder {
  color: #a6a7b3;
  text-transform: lowercase;
}

.summary ul li {
  display: flex;
  justify-content: space-between;
}

.summary ul li > *:nth-child(2) {
  font-weight: bold;
}

.summary ul li + li {
  margin-top: 20px;
}

.summary-total {
  align-self: flex-end;
  margin-top: auto;
  padding-top: 16px;
  padding-bottom: 0;
  border-top: 1px solid rgba(33, 34, 64, 0.16);
  color: #212240;
}

.summary-total-cost {
  flex-basis: 100%;
  text-transform: uppercase;
}

.summary-total-price {
  font-weight: bold;
}

.button-purple {
  margin-top: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  border-radius: 4px;
  background: #7350ff;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 14px;
  cursor: pointer;
}

.button-purple:hover {
  background-color: #8c5cff;
  box-shadow: 0 0 4px rgb(33 34 64 / 8%), 0 2px 8px rgb(33 34 64 / 16%);
}

.button-purple:active {
  background-color: #5b39a8;
  box-shadow: 0 0 4px rgb(33 34 64 / 16%), 0 1px 2px rgb(33 34 64 / 8%);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 1088px;
  max-height: 648px;
  width: calc(100% - 64px);
  height: calc(100% - 64px);
  border-radius: 4px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.img-modal {
  flex: 1;
  width: 100%;
  height: 100%;
}

.img-product-modal {
  flex: 1;
}

.info-product-modal {
  width: 312px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-close-modal {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 33px;
  padding-right: 33px;
  cursor: pointer;
  background-color: transparent;
}

.name-product-modal {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(33, 34, 64, 0.16);
}

.description-product-modal {
  font-size: 13px;
  line-height: 18px;
  padding-top: 24px;
  padding-bottom: 48px;
  border-bottom: 1px solid rgba(33, 34, 64, 0.16);
}

.code-product-modal {
  font-size: 13px;
  padding-top: 16px;
  margin-bottom: 40px;
}
